{% extends 'templates/layout-wide.twig' %}

{% block content %}
<p>Settings</p>

{% if places|length %}
  <form action="{{ path_for('rules.set') }}" method="POST"> 
    <table class="table table-striped table-sm">
      <tr class="small text-center">
        <td></td>
        {% for place in places %}
          <th>{{ place.full_name|slice(0, 6) }}</th>
        {% endfor %}
      </tr>
      <tr class="small">
        <td colspan="{{ places|length + 1 }}" class="alert-success">Покупка</td>
      </tr>
      {% for curr in currs %}
        <tr class="small">
          <th>{{ curr.short_name }}</th>
          {% for place in places %}
            {% for rule in rules|filter(rule => rule.place_id == place.id and rule.curr_id == curr.id) %}
              <td>
                <input class="form-control form-control-sm" name="diff_buy_{{ curr.id }}_{{ place.id }}" id="diff_buy_{{ curr.id }}_{{ place.id }}" type="number" step="1" value="{{ rule.diff_buy }}"  style="text-align: center">
              </td>
            {% endfor %}
          {% endfor %} 
        </tr>
      {% endfor %}
      <tr class="small">
        <td colspan="{{ places|length + 1 }}" class="alert-danger">Продажа</td>
      </tr>
      {% for curr in currs %}
        <tr class="small">
          <th>{{ curr.short_name }}</th>
          {% for place in places %}
            {% for rule in rules|filter(rule => rule.place_id == place.id and rule.curr_id == curr.id) %}
              <td>
                <input class="form-control form-control-sm" name="diff_sale_{{ curr.id }}_{{ place.id }}" id="diff_sale_{{ curr.id }}_{{ place.id }}" type="number" step="1" value="{{ rule.diff_sale }}" style="text-align: center">
              </td>
            {% endfor %}
          {% endfor %} 
        </tr>
      {% endfor %}
    </table>
    <button class="btn btn-success ml-2" type="submit">Сохранить</button>
    {{ csrf.field | raw}}
  </form>
{% endif %}

{% endblock %}