<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ path_for('home.index') }}">Elg</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path_for('base.index2') }}">Базовые курсы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('retailrate.index') }}">Настройки розницы</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Справочники
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path_for('place.index') }}">Населенные пункты</a>
                        <a class="dropdown-item" href="{{ path_for('dep.index') }}">Подразделения</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path_for('curr.index') }}">Валюты</a>
                        <a class="dropdown-item" href="{{ path_for('curr.cross.index') }}">Валюты (кросс)</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path_for('channel.index') }}">Каналы</a>
                        {# <a class="dropdown-item" href="{{ path_for('message.index') }}">Тексты сообщений</a> #}
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path_for('setting.index') }}">Настройки</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Админ
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path_for('service.index') }}">Обслуживание</a>
                        <a class="dropdown-item" href="{{ path_for('user.edit') }}">Доступ</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('user.logout') }}">Выход</a>
                </li>
            </ul>
        </div>
    </div>
</nav>