{% extends 'templates/layout.twig' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path_for('curr.cross.index') }}">Валюты (кросс)</a></li>
            <li class="breadcrumb-item active" aria-current="page">Редактирование</li>
        </ol>
    </nav>
    <h3 class="my-5">Редактировать валюту (кросс): {{ curr.short_name }}</h3>
    <form action="{{ path_for('curr.cross.edit')}}" method="POST">
         <table class="table">
            <tr>
                <td>
                    <div class="form-group">
                        <label for="base_curr_id">Основная</label>
                        <select class="form-control" name="base_curr_id" id="curr_base_curr_id">
                        {% for item in currs %}
                            <option value="{{ item.id }}" {{ item.id == curr.base_curr_id ? 'selected' : '' }}>{{ item.short_name }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="rel_curr_id">Подчиненная</label>
                        <select class="form-control" name="rel_curr_id" id="rel_curr_id">
                        {% for item in currs %}
                            <option value="{{ item.id }}" {{ item.id == curr.rel_curr_id ? 'selected' : '' }}>{{ item.short_name }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </td>
            </tr> 
            <tr>
                <td colspan="2">
                    <div class="form-group">
                        <label for="color_id">Цвет</label>
                        <select class="form-control" name="color_id" id="color_id">
                        {% for color in colors %}
                            <option value="{{ color.id }}" {{ color.id == curr.color_id ? 'selected' : '' }}>{{ color.full_name }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="form-group">
                        <label for="step_size">Шаг пункта</label>
                        <select class="form-control" name="step_size" id="step_size">
                            {% for step_size in step_sizes %}
                                <option value="{{ step_size.value }}" {{ step_size.value == curr.step_size ? 'selected' : '' }}>{{ step_size.value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="form-group">
                        <label for="step_size_format">Формат пункта</label>
                        <select class="form-control" name="step_size_format" id="step_size_format">
                            {% for step_size_format in step_size_formats %}
                                <option value="{{ step_size_format.value }}" {{ step_size_format.value == curr.step_size_format ? 'selected' : '' }}>{{ step_size_format.value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="form-group">
                        <label for="oper_cross">Операция</label>
                        <select class="form-control" name="oper_cross" id="oper_cross">
                            {% for oper_cross in oper_crosses %}
                                <option value="{{ oper_cross.value }}" {{ oper_cross.value == curr.oper_cross ? 'selected' : '' }}>{{ oper_cross.value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="is_actual" class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="is_actual" id="is_actual" {{ curr.is_actual ? ' checked="checked"' : ''}}>Актуальность
                            </label>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="form-group">
                        <button class="btn btn-success" id="btn-save" type="submit">Записать</button>
                    </div>
                </td>
            </tr>
        </table>    
        <input type="hidden" name="id" id="id" value="{{ curr.id }}">    
        {{ csrf.field | raw}}
    </form>
{% endblock %}    