{% extends 'templates/layout.twig' %}

{% block content %}
    <h3 class="my-5">Установить базовые курсы</h3>
    <form action="{{ path_for('base.create')}}" method="POST">
        <table class="table table-striped w-50">
            <tr class="text-center">
                <th colspan="2">Валюта</th>
                <th>Покупка (оптовый)</th>
                <th>Дельта</th>
            </tr>
            {% for curr in currs %}
                {% set curr_id = curr.curr.id ? curr.curr.id : curr.id %}
                {% set curr_sign = curr.curr.sign ? curr.curr.sign : curr.sign %}
                {% set curr_name = curr.curr.short_name ? curr.curr.short_name : curr.short_name %}
                {% set step_format = curr.curr.step_size_format ? curr.curr.step_size_format : curr.step_size_format %}
                {% set rate_buy = curr.rate_buy ? curr.rate_buy : 0 %}
                <tr class="text-center">
                    <td>{{ curr_sign|raw }}</td>
                    <td data-curr-id="{{ curr_name|lower }}">    
                        {{ curr_name }}
                        <input name="{{ curr_id }}" id="{{ curr_id }}" value="{{ curr_id }}" type="hidden">
                    </td>
                    <td>
                        <input class="form-control" name="rate_{{ curr_name|lower }}" id="rate_{{ curr_name|lower }}" value="{{ rate_buy }}" style="text-align: right">
                    </td>
                    <td>
                        <input class="form-control" name="steps_{{ curr_name|lower }}" id="steps_{{ curr_name|lower }}" type="number" value="1">
                    </td>
                </tr>
            {% endfor %}
        </table>    
        <button class="btn btn-success" type="submit">Записать</button>
        {{ csrf.field | raw}}
    </form>
{% endblock %}    