{% extends 'templates/layout-empty.twig' %}

{% block content %}
    {% if places|length %}
    <form action="{{ path_for('rules.set') }}" method="POST" id="bases"> 
        <table class="table table-striped table-sm">
        <tr class="rates small text-center font-weight-bold bg-dark text-white">
            <td></td>
            {% for place in places %}
            <td>{{ place.full_name|slice(0, 4)|upper }}</td>
            {% endfor %}
        </tr>
        {% for curr in currs %}
            <tr class="small rates">
            <tr class="small rates" style="background-color: {{ curr.color.full_name }}">
                <td class="font-weight-bold text-center">{{ curr.short_name }}</td>
                {% for place in places %}
                    {% if place.is_base == 1 %}
                        <td>
                            {% if curr.is_cross == 1 %}
                                <input name="base_rate_cross_buy_id_{{ curr.id }}" id="base_rate_cross_buy_id_{{ curr.id }}" readonly data-base-rate-cross-buy-id="{{ curr.id }}" style="background-color: {{ curr.color.full_name }}; border: 0">
                            {% else %}
                                 <input name="base_rate_buy_id_{{ curr.id }}" id="base_rate_buy_id_{{ curr.id }}" readonly data-base-rate-id="{{ curr.id }}" style="background-color: {{ curr.color.full_name }}; border: 0">
                            {% endif %}
                        </td>
                    {% else %}
                        {% for rule in rules|filter(rule => rule.place_id == place.id and rule.curr_id == curr.id) %}
                            <td>
                               <input name="diff_buy_{{ curr.id }}_{{ place.id }}" id="diff_buy_{{ curr.id }}_{{ place.id }}" type="number" step="1" value="{{ rule.diff_buy }}" class="input-step{{ rule.diff_buy < 0 ? ' input-step-minus' : (rule.diff_buy > 0 ? ' input-step-plus' : '') }}">
                            </td>
                        {% endfor %}
                    {% endif %}
                {% endfor %} 
            </tr>
        {% endfor %}
        <tr class="rates" style="background-color: black; height: 4px"><td colspan="{{ places|length + 1 }}"></td></tr>
        {% for curr in currs %}
            <tr class="small rates" style="background-color: {{ curr.color.full_name }}">
                <td class="font-weight-bold text-center">{{ curr.short_name }}</td>
                {% for place in places %}
                    {% if place.is_base == 1 %}
                        <td>
                             {% if curr.is_cross == 1 %}
                                <input name="base_rate_cross_sale_id_{{ curr.id }}" id="base_rate_cross_sale_id_{{ curr.id }}" readonly data-base-rate-cross-sale-id="{{ curr.id }}" style="background-color: {{ curr.color.full_name }}; border: 0">
                            {% else %}
                                <input name="base_rate_sale_id_{{ curr.id }}" id="base_rate_sale_id_{{ curr.id }}"  readonly data-base-rate-sale-id="{{ curr.id }}" style="background-color: {{ curr.color.full_name }}; border: 0">
                            {% endif %}    
                        </td>
                    {% else %}
                        {% for rule in rules|filter(rule => rule.place_id == place.id and rule.curr_id == curr.id) %}
                            <td>
                                <input name="diff_sale_{{ curr.id }}_{{ place.id }}" id="diff_sale_{{ curr.id }}_{{ place.id }}" type="number" step="1" value="{{ rule.diff_sale }}" class="input-step{{ rule.diff_sale < 0 ? ' input-step-minus' : (rule.diff_sale > 0 ? ' input-step-plus' : '') }}">
                            </td>
                        {% endfor %}
                    {% endif %}
                {% endfor %} 
            </tr>
        {% endfor %}
        <tr class="rates" style="background-color: black; height: 4px"><td colspan="{{ places|length + 1 }}"></td></tr>
        </table>

        <div class="row row justify-content-md-left">
            <div class="col col-4">
                <h5>Кросс</h5>
                <table>
                    <tr>
                        <td></td>
                        <th>Форекс</th>
                        <td></td>
                        <th>Покупка (дельта)</th>
                        <td></td>
                        <th>Продaжa (дельта)</th>
                    </tr>
                    {% for base_cross in bases_cross %}
                        <tr class="small" data-step-size="{{ base_cross.step_size }}" 
                            data-curr-id="{{ base_cross.id }}" data-oper-cross="{{ base_cross.oper_cross }}" data-cross-eqv-buy="{{ cross_eqv.rate_buy }}" data-cross-eqv-sale="{{ cross_eqv.rate_sale }}" >
                            <td class="px-1 font-weight-bold" style="background-color: {{ base_cross.color.full_name }}">{{ base_cross.short_name }}</td>
                            <td class="d-flex">
                                <input class="form-control form-control-sm input-rate" name="rate_cross_id_{{ base_cross.id }}" id="rate_cross_id_{{ base_cross.id }}" value="{{ base_cross.rate_cross }}" data-rate-cross-id="{{ base_cross.id }}">
                            </td> 
                            <td class="px-2"></td> 
                            <td class="d-flex">
                               <input name="rate_cross_buy_id_{{ base_cross.id }}" id="rate_cross_buy_id_{{ base_cross.id }}" value="{{ base_cross.rate_cross }}" data-rate-cross-buy-id="{{ base_cross.id }}" class="input-rate" disabled>
                                <span class="btn-cnt btn-cnt-down"></span>
                                <span class="btn-cnt btn-cnt-up"></span>
                                <input class="form-control form-control-sm input-step" value="0" disabled style="width: 3em; text-align: center">
                            </td>
                            <td class="px-2"></td>
                            <td class="d-flex" style="width: 100px">
                                <input name="rate_cross_sale_id_{{ base_cross.id }}" id="rate_cross_sale_id_{{ base_cross.id }}" value="{{ base_cross.rate_cross }}" data-rate-cross-sale-id="{{ base_cross.id }}" class="input-rate" disabled>
                                <span class="btn-cnt btn-cnt-down"></span>
                                <span class="btn-cnt btn-cnt-up"></span>
                                <input class="form-control form-control-sm input-step" value="0" disabled style="width: 3em; text-align: center">
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col col-3">
                <h5>Базовые</h5>
                <table>
                     <tr>
                        <td></td>
                        <th>Покупка</th>
                        <td></td>
                        <th>Продажа</th>
                    </tr>
                    {% for base in bases %}
                        <tr class="small" data-step-size="{{ base.step_size }}" data-curr-id="{{ base.id }}">
                            <td class="px-1 font-weight-bold" style="background-color: {{ base.color.full_name }}">{{ base.short_name }}</td>
                            <td class="d-flex">
                                <input name="rate_buy_id_{{ base.id }}" id="rate_buy_id_{{ base.id }}" value="{{ base.rate_buy }}" data-rate-buy-id="{{ base.id }}" class="input-rate">
                                <span class="btn-cnt btn-cnt-down"></span>
                                <span class="btn-cnt btn-cnt-up"></span>
                                <input class="form-control form-control-sm input-step" value="0" disabled style="width: 3em; text-align: center">
                            </td> 
                            <td class="px-2"></td>   
                            <td class="d-flex">
                                <input name="rate_sale_id_{{ base.id }}" id="rate_sale_id_{{ base.id }}" value="{{ base.rate_sale }}" data-rate-sale-id="{{ base.id }}" class="input-rate">
                                <span class="btn-cnt btn-cnt-down"></span>
                                <span class="btn-cnt btn-cnt-up"></span>
                                <input class="form-control form-control-sm input-step" value="0" disabled style="width: 3em; text-align: center">
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div>
        {# <button class="btn btn-sm btn-primary ml-2 text-uppercase" type="submit" >Сохранить</button> #}
        </div>
        {{ csrf.field | raw}}  
    </form>
    {% endif %}
{% endblock %}
