{% extends 'templates/layout.twig' %}

{% block content %}
    Some content
    {# <h3 class="my-5">Базовые курсы валют (Текущие)</h3>
    <div>
    <a href="{{ path_for('base.create') }}" class="btn btn-success mb-2" role="button">Создать</a>
    <a href="{{ path_for('base.cross.create') }}" class="btn btn-info mb-2" role="button">Создать (кросс)</a>
    <a href="{{ path_for('rate.send') }}" class="btn btn-primary mb-2 float-right" role="button">Отправить курсы</a>
    </div>
    {% if base|length %}
        <table class="table table-bordered table-striped">
            <thead>
                <tr class="text-center">
                    <th colspan="2">Валюта</th>
                    <th class="text-right">Покупка</th>
                    <th class="text-right">Продажа</th>
                    <th>Дельта</th>
                    <th>Кросс</th>
                    <th>Дата</th>
                </tr>
            </thead>
            <tbody>
            {% for rate in base %}
                <tr class="text-center">
                    <td>{{ rate.curr.sign|raw }}</td>
                    <td>{{ rate.curr.short_name }}</td>
                    <td class="text-right">{{ rate.rate_buy }}</td>
                    <td class="text-right">{{ rate.rate_sale }}</td>
                    <td>
                        {% if rate.is_cross == 1 %}
                            {{ rate.steps_cross_buy }} / {{ rate.steps_cross_sale }}
                        {% else %}    
                            {{ rate.steps }}
                        {% endif %}
                    </td>
                    <td class="text-right">
                    {% if rate.is_cross == 1 %}
                        <strong>{{ rate.rate_cross }}</strong> / {{ rate.rate_cross_buy }} / {{ rate.rate_cross_sale }}
                    {% endif %}
                    </td>
                   <td>{{ rate.created_at|date("d.m.Y H:i:s") }}</td>
                </tr>    
            {% endfor %}
            </body>
        </table>        
    {% endif %} #}
{% endblock %}
