{% extends 'templates/layout.twig' %}

{% block content %}
    <h3 class="my-5">Каналы</h3>
    <div>
        <a href="{{ path_for('channel.create') }}" class="btn btn-success mb-2" role="button">Создать</a>
    </div>
    {% if channels|length %}
        <table class="table table-bordered table-sm table-striped">
            <thead>
                <tr class="text-center">
                    <th class="text-left">Наименование</th>
                    <th>URL</th>
                    <th>Chat ID</th>
                    <th>Основной</th>
                    <th>Актуальность</th>
                    <th>Сообщения</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for channel in channels %}
                <tr>
                   <td>{{ channel.full_name }}</td>
                   <td>{{ channel.url }}</td>
                   <td>{{ channel.chat_id }}</td>
                   <td class="text-center"><i class="fas {{ channel.is_main ? 'fa-check' : 'fa-times' }}"></i></td>
                   <td class="text-center"><i class="fas {{ channel.is_actual ? 'fa-check' : 'fa-times' }}"></i></td>
                   <td class="text-center"><a href="{{ path_for('channel.message.index', {'id': channel.id}) }}">Сообщения</a></td>
                   <td class="text-center"><a href="{{ path_for('channel.edit', {'id': channel.id}) }}"><i class="fas fa-pencil-alt"></i></a></td>
                </tr>    
            {% endfor %}
            </body>
        </table>        
    {% endif %}
{% endblock %}
