{% extends 'templates/layout.twig' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path_for('channel.index') }}">Каналы</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{{ path_for('channel.message.index', 
            {id: channel.id}) }}">{{ channel.full_name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{{ path_for('channel.message.index', 
            {id: channel.id}) }}">Сообщения</a></li>
            <li class="breadcrumb-item active" aria-current="page">Редактирование</li>
        </ol>
    </nav>
    <h3 class="my-5">Редактировать сообщение в канале: {{ channel.full_name }} </h3>
    <form action="{{ path_for('channel.message.update')}}" method="POST">
        <div class="form-group">
            <label for="content">Текст</label>
            <textarea class="form-control" name="content" id="content">{{ channel_message.content }}</textarea>
        </div>
        <div class="form-group">
            <label for="position">Порядок</label>
            <select class="form-control" name="position" id="position">
                {% for i in 1..max_pos %}
                    <option value="{{ i }}" {{ channel_message.position == i ? 'selected' : '' }}>{{ i }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <div class="form-check">
                <label for="is_header" class="form-check-label">
                <input type="checkbox" class="form-check-input" name="is_header" id="is_header" {{ channel_message.is_header ? ' checked="checked"' : ''}}>Заголовок курсов
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <label for="is_actual" class="form-check-label">
                <input type="checkbox" class="form-check-input" name="is_actual" id="is_actual" {{ channel_message.is_actual ? ' checked="checked"' : ''}}>Актуальность
                </label>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-success" id="btn-save" type="submit">Записать</button>
        </div>
        <input type="hidden" name="id" id="id" value="{{ channel_message.id }}">    
        {{ csrf.field | raw}}
    </form>
{% endblock %}    